/** **************************************
* Fonts: app
*************************************** */
@import '@fontsource-variable/dm-sans';

@import '@fontsource/barlow/400.css';
@import '@fontsource/barlow/500.css';
@import '@fontsource/barlow/600.css';
@import '@fontsource/barlow/700.css';
@import '@fontsource/barlow/800.css';

/** **************************************
* Plugins
*************************************** */
/* scrollbar */
@import './components/scrollbar/styles.css';

/* chart */
@import './components/chart/styles.css';

/** **************************************
* Baseline
*************************************** */
html {
  height: 100%;
  -webkit-overflow-scrolling: touch;
}
body,
#root,
#root__layout {
  display: flex;
  flex: 1 1 auto;
  min-height: 100%;
  flex-direction: column;
}
img {
  max-width: 100%;
  vertical-align: middle;
}
ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
input[type='number'] {
  -moz-appearance: textfield;
  appearance: none;
}
input[type='number']::-webkit-outer-spin-button {
  margin: 0;
  -webkit-appearance: none;
}
input[type='number']::-webkit-inner-spin-button {
  margin: 0;
  -webkit-appearance: none;
}

/* message */
.message_list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.message_item_name {
  font-weight: 600;
}

.message_item_title {
  color: rgb(71, 70, 70);
  opacity: 0.8;
}

.message_item {
  background-color: rgba(233, 235, 235, 0.3);
  border-radius: 5px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  cursor: pointer;
}

.box_message {
  display: grid;
  grid-template-rows: auto 1fr auto;
  height: 100%;
  max-height: 100%;
  overflow: hidden;
}

.box_message_title {
  padding: 10px 10px;
  border-bottom: solid 1px rgb(120, 115, 115);
}

.box_message_name {
  font-size: 20px;
  font-weight: bold;
}

.box_message_content {
  padding: 15px;
  max-height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.box_message_avatar {
  width: 40px;
  height: 40px;
  background-color: red;
  border-radius: 50%;
}

.box_message_admin {
  display: grid;
  grid-template-columns: 1fr auto;
  justify-items: end;
  column-gap: 10px;
  align-items: center;
}

.box_message_user {
  display: grid;
  grid-template-columns: auto 1fr;
  column-gap: 10px;
  justify-items: start;
  align-items: center;
}


.box_message_user_avatar {
}

.box_message_admin_avatar {
}

.layout-auth-wrapper {
  max-width: max-content;
  min-width: 500px !important;
}

.logo-dash {
  width: 158px !important;
  height: 135px !important;
  object-fit: contain !important;
  border-radius: 50% !important;
  align-self: center;
  margin-bottom: 30px;
}

.icon-action:disabled {
  opacity: 0.5;
}
